<ion-nav-bar class="bar bar-dark">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-more" ng-click="popoverShow($event)">
        </button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-view title="Home">
        <ion-nav-view></ion-nav-view>
        <div class="tabs tabs-icon-left tabs-dark">
            <a class="tab-item" ui-sref="home.main" ui-sref-active="tab-item-active">
                <i class="icon ion-home"></i>
                Home
            </a>
            <a class="tab-item" ui-sref="home.editProfile" ui-sref-active="tab-item-active">
                <i class="icon ion-edit"></i>
                Edit
            </a>
            <a class="tab-item" ui-sref="home.geo" ui-sref-active="tab-item-active">
                <i class="icon ion-navigate"></i>
                GeoLocation
            </a>

            <a class="tab-item" ui-sref="home.search" ui-sref-active="tab-item-active">
                <i class="icon ion-search"></i>
                Search
            </a>
        </div>
</ion-view>

