<ion-view title="Sign Up">
    <ion-content class="padding" scroll="false">
        <div class="list list-inset">
             <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="user.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="user.lastName">
            </label>
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="user.email" required="">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <hr/>
        <div class="button button-block button-positive" ng-click="signUp(user)">Create Account</div>
        <div class="button button-block button-dark" ui-sref="login"> Login</div>

    </ion-content>
</ion-view>