/* Empty. Add your own CSS if you like */

.pane {
    background-color: #FFFFE0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
map {
    display: block;
    width: 100%;
    height: 100%;
}
.scroll {
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
}

.fontSize{
    font-size: 3.0em;


}
.margin{
    margin-left:25%;
}
.marginTop{
    margin-top:25%;
}
.text-Align{
    text-align: center;
}
.paddingTop{
    padding-top: 2cm;

}
label{
    text-align: center;
}
.popover{

    height: 0;

}